<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <script src="https://kit.fontawesome.com/29a13740e7.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
  <title>linkr</title>
</head>

<body>


  <div class="row justify-content-center">
    <ul>
      <li>
        <h3><a href="{{ url_for('index') }}">RELOAD</a></h3>
      </li>
    </ul>
  </div>

  <br>
  <hr>

  <!--  -->
  <!-- start of content -->
  <!--  -->


  <div class="container border">
    <div class="row">

      <div class="col-md-4">
        <div class="container">
          <h3>BUCKETS</h3>
          <!-- <div><a href="#" class="btn btn-primary btn-block" role="button" target="">Label <i class="far fa-file"></i></a></div> -->
          <div class="list-group">
            {% for bucket in buckets %}
            {% if bucket.active is sameas True %}
            <a href="/?bucket={{ bucket['id'] }}" id="bucket-{{ bucket['id'] }}" class="list-group-item list-group-item-action active">{{ bucket['name'] }}</a>
            {% else %}
            <a href="/?bucket={{ bucket['id'] }}" id="bucket-{{ bucket['id'] }}" class="list-group-item list-group-item-action">{{ bucket['name'] }}</a>
            {% endif %}
            {% endfor %}
          </div>
        </div>
        <!-- /BUCKETS -->
      </div>
      <div class="col-md-4">
        <div class="container">
          <h3>LINKS</h3>
          <div class="list-group">
            {% for link in links %}
            {% if link.active is sameas True %}
            <a href="/?bucket={{ link['parent'] }}&link={{ link['id'] }}" id="link-{{ link['id'] }}" class="list-group-item list-group-item-action active">{{ link['url'] }}</a>
            {% else %}
            <a href="/?bucket={{ link['parent'] }}&link={{ link['id'] }}" id="link-{{ link['id'] }}" class="list-group-item list-group-item-action">{{ link['url'] }}</a>
            {% endif %}
            {% endfor %}
          </div>
        </div>
        <!-- /LINKS -->
      </div>
      <div class="col-md-4">
        <h3>DETAILS</h3>
        <div class="container">
          <div class="card" style="width: auto;">
            <div class="jumbotron ribbon" style="height: 30px;  background-color: rgba(137,131,141,0.1);">
              <div class="img-thumbnail-mr-4">
                {% if schema['favicon'] is sameas '' %}
                <img class="img-responsive" style="max-width: 16px;" src="{{ url_for('static', filename='images/favicon.png') }}" alt="">
                {% else %}
                <img class="img-responsive" style="max-width: 16px;" src="{{ schema['favicon'] }}" alt="">
                {% endif %}
                <small>RESPONSE: {{ schema['status'] }}</small>
              </div>
              <samp>{{ schema['friendly'] }}</samp>
            </div>
            <div class="card-body">
              {% if schema['target'] is sameas '' %}
              <h5 class="card-title">TITLE</h5>
              <small>
                <p class="text-overflow" style="text-overflow: ellipsis;">Description</p>
              </small>
              <div class="row">
                <div class="col-md-6">
                  <button type="button" class="btn btn-outline-success btn-block" disabled>Open Tab <i class="far fa-file"></i></button>
                </div>
                <div class="col-md-6">
                  <button type="button" class="btn btn-outline-secondary btn-block" disabled>Copy Link <i class="far fa-clipboard"></i></button>
                </div>
              </div>
              {% else %}
              <h5 class="card-title">{{ schema['title'] }}</h5>
              <small>
                <p class="text-overflow" style="text-overflow: ellipsis;">{{ schema['description'] }}</p>
              </small>
              <small><input type="text" id="inputContainingTextToBeCopied" value="{{ schema['target'] }}" style="opacity: 0;" /></small>
              <div class="row">
                <div class="col-md-6">
                  <a href="{{ schema['target'] }}" class="btn btn-success btn-block" role="button" target="_blank">Open Tab <i class="far fa-file"></i></a>
                </div>
                <div class="col-md-6">
                  <button class="btn btn-secondary btn-block" role="button" onclick="copyToClipboardFunction()" onmouseout="outFunc()">
                    <span class="tooltiptext" id="myTooltip">Copy Link <i class="far fa-clipboard"></i></span></button>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>


        <script type="text/javascript">
          function copyToClipboardFunction() {
            var copyText = document.getElementById("inputContainingTextToBeCopied");
            copyText.select();
            document.execCommand("copy");
            var tooltip = document.getElementById("myTooltip");
            tooltip.innerHTML = "Done!";
          }

          function outFunc() {
            var tooltip = document.getElementById("myTooltip");
            tooltip.innerHTML = "Copy Link";
          }
        </script>
        <!-- /DETAILS -->
      </div>

    </div>
  </div>


</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>
